<h2>Calagator Admin Tools</h2>

<ul>
  <li><%= link_to "Recent changes", '/changes' %></li>
  <li><%= link_to "Squash duplicate events", duplicates_events_path %></li>
  <li><%= link_to "Squash duplicate vennues", duplicates_venues_path %></li>
  <li><%= link_to "Lock events", admin_events_path %></li>
</ul>