<div class='copy_block'>
  <h1><a name='about'>About us</a></h1>
  <h2>What</h2>

  <p>Calagator is a unified calendar for the technology community of Portland, Oregon. We are an all-volunteer effort and encourage anyone to import, create, and edit events. Calagator also refers to the open source software running this site.</p>

  <p>Calagator aggregates events so that users can visit a single source to discover interesting activities. Event organizers and participants share events with others through Calagator. Event planners use Calagator to check for possible scheduling conflicts, allowing them to make smarter decisions. Many people check the site regularly to find out what events they can attend each day.</p>

  <h2>Who</h2>

  <p>Calagator grew from a broad technology community discussion about how to find and share local events. The Calagator project started in January 2008 with the formation of a mailing list, followed by an initial code sprint a few weeks later. The group decided to build a public, non-commercial software project and website for sharing events.</p>

  <p>The software was developed through code sprints, where volunteers meet up to write and improve the application. The group used agile development methods from the start and has been able to provide a solid, functioning site from the first meeting on. Using these software development practices has helped developers share knowledge, made it easier for new developers to join in, and kept the code behind the application stable and maintainable. Although the application is written using Ruby on Rails, the group welcomes non-Ruby developers to participate. The code sprints also involve community members that contribute design, project direction, and documentation.</p>
  
  <h1>Getting started</h1>
    <h2><a name='find_local_events'>Find local events</a></h2>
    <h3>Browse</h3>
    <ul>
      <li><a href='http://calagator.org/'>Browse an overview</a> of events for the next two weeks.</li>
      <li><a href='http://calagator.org/events'>Browse events</a> in the future and past, and filter by date.</li>
      <li><a href='http://calagator.org/venues'>Browse venues</a> and view future events occurring at each venue.</li>
    </ul>
    
    <h3>Search</h3>
    <ul>
      <li><strong>Search</strong> for events at the top of each page.</li>
    </ul>

    <h3>Subscribe or export</h3>
    <ul>
      <li><strong>Subscribe</strong> to a list of events with your favorite calendar or feed reader.</li>
      <li><strong>Export</strong> a single event to your favorite calendar.</li>
    </ul>
            
    <h2><a name='share_local_events'>Share local events</a></h2>
    
    <ul>
      <li><a href='http://calagator.org/events/new'>Add</a> an event by entering its details.</li>
      <li><a href='http://calagator.org/sources/new/'>Import</a> event(s) by entering a URL to a feed or webpage, or via a bookmarklet.</li>
      <li><strong>Improve</strong> content by editing events and venues.</li>
    </ul>
  
  <h1><a name='get_involved'>Get involved</a></h1>
  <p>Anyone can participate. There are no entrance requirements other than interest and enthusiasm for the project goals.</p>

    <h3>Step 1: Sign up for the <a href='http://groups.google.com/group/pdx-tech-calendar/' title="PDX Tech Calendar on Google Groups">mailing list</a>.</h3>

    <h3>Step 2: Sign up for the <a href='http://calagator.wordpress.com/' title="Calagator blog">blog</a>.</h3>
  
    <h3>Step 3: Contribute!</h3>
    <h4>Use the site.</h4>
    <ul>
      <li><a href='#find_local_events'>Learn about</a> and <a href='#share_local_events'>share events</a>.</li>
      <li>Spread the word! (<a href='http://twitter.com'>twitter</a>, your own blog, direct people to the events that you added above).</li>
    </ul>
  
    <h4>Help garden the site.</h4>
    <ul>
      <li>Help us remove <a href='/events/duplicates'>duplicate events</a> and <a href='/venues/duplicates'>duplicate venues</a>.</li>
      <li>Add details to existing events and venues.</li>
      <li>Correct missing venues and incomplete venue addresses.</li>
      <li>Edit our <a href='http://code.google.com/p/calagator/w/list'>wiki</a> to improve our documentation.</li>
    </ul>
    
    <h4>Come to code sprints.</h4>
    <p>You don't have to be a programmer; our code sprints are general work sessions, and we also work on <strong>design</strong> issues, <strong>documentation</strong>, and discuss <strong>project direction</strong>. If you are interested in <storng>programming</storng>, or learning Ruby or Rails, our pair programming environment is an excellent environment to learn using Agile methods. We'll be glad to help you set things up.</p>
  
    <h4>Help the developers.</h4>
    <ul>
      <li>File <a href='http://code.google.com/p/calagator/issues/list'>bug reports</a>.</li>
      <li>Verify <a href='http://code.google.com/p/calagator/issues/list'>bug reports</a>.</li>
    </ul>
  
    <h4>Contribute code.</h4> 
    <p>Calagator is a <a href='http://rubyonrails.org/'>Ruby on Rails</a> web application that runs well on UNIX, Mac and Windows. You can find more details on downloading the source and running it at our <a href='http://code.google.com/p/calagator/wiki/DevelopmentSoftware'>Google Code Page</a>.</p>
</div>
