*.data
*.diff
*.solr
*.sql
*.swp
*.tmp
*~
.dtach
config/geocoder_api_keys.yml
config/mongrel_cluster.yml
config/thin.yml
coverage/*
db/*.sqlite3
db/*.sqlite3.*
db/schema.rb
index/*
log/*
nbproject/*
public/images/active_scaffold
public/images/record_select
public/javascripts/active_scaffold
public/javascripts/all.js
public/javascripts/record_select
public/stylesheets/active_scaffold
public/stylesheets/all.css
public/stylesheets/record_select
tags
tmp/*
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
vendor/plugins/acts_as_solr/solr/logs/*
vendor/plugins/acts_as_solr/solr/solr/data/*
vendor/plugins/acts_as_solr/solr/tmp/*
