*.data
*.diff
*.solr
*.sql
*.swp
*.tmp
*~
.dtach
.vagrant
Vagrantfile.local
config/database~custom.yml
config/mongrel_cluster.yml
config/newrelic.yml
config/thin.yml
coverage.info
coverage/*
db/*.sqlite3
db/*.sqlite3.*
db/schema.rb
Gemfile.local
index/*
log/*
nbproject/*
public/images/active_scaffold
public/images/record_select
public/javascripts/active_scaffold
public/javascripts/all.js
public/javascripts/record_select
public/stylesheets/active_scaffold
public/stylesheets/all.css
public/stylesheets/record_select
public/themes/
.rvmrc
tags
solr/data/*
tmp/*
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
vagrant/cookbooks/vagrant/recipes/local.rb
vendor/plugins/acts_as_solr/solr/logs/*
vendor/plugins/acts_as_solr/solr/solr/data/*
vendor/plugins/acts_as_solr/solr/tmp/*
