*.data
*.diff
*.solr
*.sql
*.swp
*.tmp
*~
.dev
.dtach
.rvmrc
.vagrant
Makefile
Gemfile.lock
gemfiles/*.lock
Vagrantfile.local
config/database~custom.yml
config/geocoder_api_keys.yml
config/mongrel_cluster.yml
config/newrelic.yml
config/secrets.yml
config/sunspot.yml
config/theme.txt
config/thin.yml
coverage.info*
coverage/*
db/*.sqlite3
db/*.sqlite3.*
db/schema.rb
index/*
log/*
nbproject/*
public/assets
public/images/active_scaffold
public/images/record_select
public/javascripts/active_scaffold
public/javascripts/all.js
public/javascripts/record_select
public/stylesheets/active_scaffold
public/stylesheets/all.css
public/stylesheets/record_select
public/themes/
solr/data/*
solr/pids/*
tags
tmp/*
vagrant/cookbooks/vagrant/recipes/local.rb
.ruby-gemset
.ruby-version
.bundle/
pkg/
spec/dummy
.sass-cache
.DS_Store
