<h2>Hi there.</h2>
<p class='first'><strong>Calagator</strong> is a unified calendar for the technology community of Portland, Oregon. We are an all-volunteer effort and encourage anyone to import, create, and edit events.</p>

<h4>Get Started</h4>
<ul>
  <li><a href='/about#find_local_events'>Find local events</a></li>
  <li><a href='/about#share_local_events'>Share local events</a></li>
  <li><a href='/about#get_involved'>Get involved</a></li>
  <li><a href='/about'>Find out about us</a></li>
</ul>
