!!!
%html
  %head
    %title calagator admin console
  %body
    %h1 calagator admin console
    %h2
      Status
    %p
      %ul
        %li
          current user:
          = `whoami`
        %li
          current revision:
          %pre= @revision
    %h2
      Action
    %p
      %form{:method=>"post"}
        %label
          %input{:type=>"radio", :name=>"action", :value=>"deploy_and_migrate_via_update", :checked=>"checked"}
          deploy and migrate to revision
          %input{:type=>"text", :name=>"revision", :value=>"HEAD"}
        %br
        %label
          %input{:type=>"radio", :name=>"action", :value=>"restart"}
          restart
        %br
        %p
          %input{:type=>"submit", :value=>"submit"}
        %pre
    - if @message
      %pre
        ~ @message
