<p>Imported <%= @importer.events.size %> entries:</p>
<ul>
  <% @importer.events.take(5).each do |event| %>
    <li><%= link_to event.title, event_url(event) %></li>
  <% end %>
  <% if @importer.events.size > 5 %>
    <li>And <%= @importer.events.size - 5 %> other events.</li>
  <% end %>
</ul>

