<div id="events_subnav" class="subnav">
    <ul class="clearfix">
      <li><%= link_to 'Browse events', root_url,
              :class => subnav_class_for("site", "index") %>
      </li>
      <li><%= link_to 'Add an event', new_event_url,
              :class => subnav_class_for("events", "new") %>
      </li>
      <li><%= link_to 'Import events', new_source_url,
              :class => subnav_class_for("sources", "new") %>
      </li>
    </ul>
</div>
