@charset "UTF-8";

.expander_toggle,
.expander_toggle:link,
.expander_toggle:visited {
  display: block;
  margin: 1em 0;
  color:  #66BAA9;
  font-style: italic; }
  a.expander_toggle {
    padding: 0.25em; 
    padding-left: 0; }
  a.expander_toggle::before {
    content: "» "; }

#global_header {
  background: none repeat scroll 0 0 #82C555;
  height: 80px;
  position: relative;
}

#top_footer {
  padding-left: 10px;
}

#project_menu,
.sidebar {
	display: none;
}

#content {
	margin: 5px 0 0 10px;
}

#list_filters {
	display: none;
}

#list_items {
  width: inherit;
  margin: inherit;
}

#global_header a {
	font-size: 100%;
}

#project_title {
  left: 10px;
  top: 10px;
}

.subnav {
  line-height: inherit;
	padding-left: 10px;
  height: inherit; }
  .subnav li {
    padding: 0.25em 0; }
  .subnav a {
    margin: 0.5em 0;
    padding: 0.15em 0.5em; }
  .subnav .active {
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    background: #82C555; }

#app_menu ul {
	padding:.5em 10px 0 10px;
	left: 0px;
}

#project_menu {
	font-weight: bold;
	text-align: right;
	float: right;
	position: absolute;
	right: 30px;
	bottom: 10px;
}

#search_form {
	float: right;
	margin: 0;
	background: white;
	padding: 0.25em;
	border: 1px solid #999;
	-moz-border-radius: 4px;
	border-radius: 4px;
	right: 10px;
  top: 10px;
}

#search_form label {
	display: none;
}

#search_form input {
  background: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none
}

#search_field {
	width: 150px;
}

.sidebar {
  padding: 1em;
  margin-bottom: 1em;
}

.sidebar.single_view_right {
	position: inherit;
	width: inherit;
	margin-top: 0px;
	width: 90%;
}

.standard_form input[type="text"],
.standard_form input[type="url"],
.standard_form input[type="number"],
.standard_form input[type="email"],
.standard_form input[type="tel"],
.standard_form textarea,
.standard_form .text textarea
{
  width: 170px;
}

textarea {
  width: 165px;
  height: 6em;
}

.contentbar {
  margin: 0;
  padding: 0; }
  .contentbar > .vevent h1,
  .contentbar .location h1 {
    margin-top: 0;
    padding-top: 0; }

.copy_block,
.single_event .description,
.single_event .location.vcard,
.single_event .tags,
.single_venue .tags,
.single_venue #events,
.single_venue .description,
.single_venue .location.vcard
{
  float: none;
  width: inherit;
  padding: inherit;
  margin: 1em 0;
}

.flash {
  float: none;
  width: inherit;
  margin: 0.5em;
  margin-left: 0;
  padding: 0.5em;
}

.single_venue > div > .description,
.single_venue > div > .location.vcard {
  margin: 1em 0;
  padding: 1em 0;
  background: inherit;
}

.site_index {}
  .site_index #homepage_sidebar,
  .site_index #tagcloud {
    display: none; }
  .site_index #homepage_sidebar {
    float: none;
    margin: 1em; }
    .site_index #homepage_sidebar #project_description {
      width: inherit;
      margin: 0; }
  .site_index #whats_happening {
    margin: 0 10px 0 0 ; }
    .site_index #whats_happening > h1 {
      display: none; }
  .site_index #coming_events h3 {
    background: #E8FFD9;
    color: inherit;
    padding: 0.25em;
    padding-right: 0;
    text-align: left;
    margin-right: -1em; }

.events_change {}
  .events_change #event_times input[type="text"] {
    width: 70px; }
  .events_change #event_times .to {
    clear: both;
    text-align: right;
    font-weight: bold;
    width: 7em; }
  .events_change #time_start,
  .events_change #date_end {
    margin: 0; }

.events_show #google_map,
.venues_show #google_map {
  display: none;
}
