/* --------------------------------------------------------------

   print.css
   * Gives you some sensible styles for printing pages.
   * See Readme file in this directory for further instructions.

   Some additions you'll want to make, customized to your markup:
   #header, #footer, #navigation { display:none; }

-------------------------------------------------------------- */

#project_title {
  background: none;
  height: inherit;
  left: 40px;
  overflow: visible;
  position: absolute;
  text-indent: 0;
  width: inherit;
  font-size: 2em;
  color: #000;
}

/* If you're having trouble printing relative links, uncomment and customize this:
   (note: This is valid CSS3, but it still won't go through the W3C CSS Validator) */

/* a[href^="/"]:after {
  content: " (http://www.yourdomain.com" attr(href) ") ";
} */
