/* ############################################################## 
  
  typography.css
  * Sets up some sensible default typography.
   
  Originally based on blueprint-css v0.7.1, heavily modified.

  Some things to know about the default text styles:
  - Images in paragraphs float left by default. 
    (The .right and .inline classes override this)
    
  
      
############################################################## */

/*  Default font settings. 
    The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body { 
  font-size: 75%;
  color: #445544;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* @group Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal;  }

/* h2 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; } */ 
h1 { font-size: 1.7em; margin-bottom: 0.75em; font-weight: bold; }
h2 { font-size: 1.5em; line-height: 1; margin-bottom: .5em; }
h3 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; font-weight: bold}
h4 { font-size: 1em; font-weight: bold; margin-bottom: .5em; }
h5 { font-size: 1em; font-weight: bold; }

h1.bar { color: #f9ffec; background: #66baa9;}

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

/* @end */


/* @group Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1em; }

p img       { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }
p img.inline{ float: none; margin: 1.5em 1.5em;}

a:focus, 
a:hover     { color: #445544; text-decoration: underline; }
a:link      { color: #66baa9; text-decoration: none;}
a:visited   { color: #59a12d; text-decoration: none;}

.dark a     { color: #fff; text-decoration: underline; }

a.summary   { font-weight: bold; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }
 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre,code    { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* @end */ 

/* @group Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

/* @end */ 

/* @group Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
th,td       { padding: 4px 10px 4px 5px; }
tr.even td  { background: #E5ECF9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

/* @end */ 

/* @group Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background: #f7ffab; /* color: highlight */ }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

/* @end */

/* @group Fancy Type 
-------------------------------------------------------------- */
   

/* For great looking type, use this code instead of asdf: 
   <span class="alt">asdf</span>  
   Best used on prepositions and ampersands. */
  
.alt { 
  color: #666; 
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
  font-style: italic;
  font-weight: normal;
}


/* For great looking quote marks in titles, replace "asdf" with:
   <span class="dquo">&#8220;</span>asdf&#8221;
   (That is, when the title starts with a quote mark). 
   (You may have to change this value depending on your font size). */  
   
.dquo { margin-left: -.5em; } 


/* Reduced size type with incremental leading
   (http://www.markboulton.co.uk/journal/comments/incremental_leading/)

   This could be used for side notes. For smaller type, you don't necessarily want to 
   follow the 1.5x vertical rhythm -- the line-height is too much. 
   
   Using this class, it reduces your font size and line-height so that for 
   every four lines of normal sized type, there is five lines of the sidenote. eg:

   New type size in em's:
     10px (wanted side note size) / 12px (existing base size) = 0.8333 (new type size in ems)

   New line-height value:
     12px x 1.5 = 18px (old line-height)
     18px x 4 = 72px 
     72px / 5 = 14.4px (new line height)
     14.4px / 10px = 1.44 (new line height in em's) */

p.incr, .incr p {
  font-size: 10px;
  line-height: 1.44em;  
  margin-bottom: 1.5em;
}


/* Surround uppercase words and abbreviations with this class.
   Based on work by Jørgen Arnor Gårdsø Lom [http://twistedintellect.com/] */
   
.caps { 
  font-variant: small-caps; 
  letter-spacing: 1px; 
  text-transform: lowercase; 
  font-size:1.2em;
  line-height:1%;
  font-weight:bold;
  padding:0 2px;
}

/* @end */ 

a.view_more {
  display: block;
  font-weight: bold;
  margin: 2em 0 2em 10em;
}

a.external {
  padding-left: 20px;
  background-repeat: no-repeat;
  border-bottom: 1px dashed #ccc;
  background-image: url("/images/external_sites/external.gif")
}
a.external.plancast   { background-image: url("/images/external_sites/plancast.png"); }
a.external.upcoming   { background-image: url("/images/external_sites/upcoming.png"); }
a.external.yelp       { background-image: url("/images/external_sites/yelp.png"); }
a.external.shizzow    { background-image: url("/images/external_sites/shizzow.png"); }
a.external.foursquare { background-image: url("/images/external_sites/foursquare.png"); }
a.external.gowalla    { background-image: url("/images/external_sites/gowalla.png"); }