<p>Hello, I'm Calagator.</p>
<p>I hope to one day grow up to be a community calendar aggregation tool.</p>
<p>In the meantime, please drop by the <!-- <%= link_to "Blog", blog_path %> or --> <%= link_to "Community", community_path %> to see how you can help out.</p>
