<p>Hello, I'm Calagator.</p>
<p>I hope to one day grow up to be a community calendar aggregation tool.</p>
<p>
	The Calagator team has several ways for you to find out more or get involved. Please see our <%= link_to 'blog', blog_path %> and our <%= link_to 'discussion list', community_path %> for the latest news. We're always looking for new people to join us in making the best calendar aggregator possible. If you'd like to see what we've done so far, browse this site, or check out the <%= link_to 'code', 'http://code.google.com/p/calagator/' %>.
</p>