<%#
Locals: 
* events => Array of Event objects
* description => String description of events, e.g. "current"
%>
<div id='list_description'>
  <h2>Viewing <strong><%= events.size %> <%= description %> events</strong> matching <strong><%= @query %></strong>:</h2>
</div>

<div id='list_items'>
	<%= render :partial => 'events/table', :locals => { :events => events } %>
</div>

