<%#
Locals:
* events => Array of Event objects
* description => String description of events, e.g. "current"
%>
<div id='list_description'>
  <h2>Viewing <strong> <%= pluralize events.size, "#{description} event" %></strong>
  matching <strong>&ldquo;<%= @query || @tag %>&rdquo;</strong>
  <%= events_sort_label(params[:order]) %></h2>
</div>

<div id='list_items'>
  <%= render :partial => 'events/table', :locals => { :events => events, :scores => true } %>
</div>
