<div id='list_description'>
  <h2>Viewing <strong><%= @events.size %></strong> events matching <strong><%= @query %></strong>.</h2>
</div>

<div id='list_items'>
	<%= render :partial => 'events/table', :locals => { :events => @events } %>
</div>