<div class='copy_block'>
  <h1 id='about'>About us</h1>

  <p class="replace-this-text">
    Make a new file <code>app/views/calagator/site/about.html.erb</code> and describe your project there!

    <br/><br/>
    The sidebar menu expects the following anchors: <code>find_local_events</code>, <code>share_local_events</code>,
    and <code>get_involved</code>. These are optional, of course, but if you don't want them remember to create your own
    <code>app/views/calagator/site/_sidebar_menu.html.erb</code> to override the existing view.
  </p>
</div>
