<div id="venues_subnav" class="subnav">
    <ul>
      <li><%= link_to 'Browse venues', venues_url, 
              :class => ( controller.action_name == 'index' && 
                          controller.controller_name == 'venues' && 
                          'active') %>
      </li>
      <li><%= link_to 'Add a venue', new_venue_url,
              :class => ( controller.action_name == 'new' && 
                          controller.controller_name == 'venues' && 
                          'active') %>
      </li>
    </ul>
</div>
