<div id="venues_index">
	<h1>Venues</h1>
  <ul>
    <% for venue in @venues.sort_by{|t| t.title} %>
      <li>
        <%= link_to(venue.title, venue_url(venue)) %>
        <% unless venue.full_address.blank? %>
          at <%= venue.full_address %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
