<div id="venues_index">
	<h1>Venues</h1>
  <%= google_map @venues, :zoom => 12, :center => [45.518493, -122.660737] %>
  <%= link_to "Add new venue", new_venue_url %>

  <ul>
    <% for venue in @venues %>
      <li>
        <%= link_to(venue.title, venue_url(venue)) %>
        <% if venue.has_full_address? %>
          at <%= venue.full_address %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
