<% tabindex_on '#search_field' %>
<div class='view-mode-buttons'>
  <button class='btn btn-primary agenda-view js-agenda-view'>Agenda View</button>
  <button class='btn btn-primary month-view js-month-view'>Month View</button>
</div>

<%= render :partial => 'calendar/index', :layout => false %>

<% content_for :javascript_insert do %>
  <%= javascript_include_tag 'calendar' %>
<% end %>
