<!DOCTYPE html>
<html>
<head>
  <title>Calagator</title>
  <%= stylesheet_link_tag    "calagator/application", :media => "all" %>
  <%= javascript_include_tag "calagator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
