<div class='copy_block'>
	<h1><a name='about'>About Us</a></h1>
	<h2>What</h2>

	<p>Calagator is a unified calendar for the technology community of Portland, Oregon. We are an all-volunteer effort and encourage anyone to import, create, and edit events. Calagator also refers to the open source software running this site.</p>

	<p>Calagator aggregates events so that users can visit a single source to discover interesting activities. Event planners use Calagator to check for possible scheduling conflicts, allowing them to make smarter decisions. Many people check it to find out what they could do this evening.</p>

	<h2>Who</h2>

	<p>Calagator grew from a broad technology community discussion about how we find and share local events. The Calagator project started in January 2008 with the formation of a mailing list, followed by an initial code sprint a few weeks later. We chose to build a public, non-commercial software project and website for sharing events.</p>

	<p>Development of this project is focused around code sprint meetings. Because we used agile development methods from the start, we were able to share a functioning calendar site at the end of the first meeting. These practices help regular contributors share their knowledge of the project with new developers and reduce the barrier to entry. The application uses Ruby on Rails, but we actively encourage non-Ruby developers to participate. Our code sprints also involve community members who contribute design, project direction, and documentation.</p>
	
	<h1>Getting Started</h1>
		<h2><a name='find_local_events'>Find Local Events</a></h2>
		<h3>Browse</h3>
		<ul>
			<li><a href='http://calagator.org/'>Browse an overview</a> of events for the next two weeks.</li>
			<li><a href='http://calagator.org/events'>Browse events</a> in the future and past, and filter by date.</li>
			<li><a href='http://calagator.org/venues'>Browse venues</a> and view future events occurring at each venue.</li>
		</ul>
		
		<h3>Search</h3>
		<ul>
			<li><strong>Search</strong> for events at the top of each page.</li>
		</ul>

		<h3>Export</h3>
		<ul>
			<li><strong>Subscribe</strong> to a list of events with your favorite calendar or feed reader.</li>
			<li><strong>Send</strong> a single event to your favorite calendar.</li>
		</ul>
						
		<h2><a name='share_local_events'>Share Local Events</a></h2>
		
		<ul>
			<li><a href='http://calagator.org/events/new'>Add</a> an event by entering its details.</li>
			<li><a href='http://calagator.org/sources/new/'>Import</a> event(s) by entering a URL to a feed or webpage, or via a bookmarklet.</li>
			<li><strong>Improve</strong> content by editing events and venues.</li>
		</ul>
	
	<h1><a name='get_involved'>Get Involved</a></h1>
	<p>Anyone can participate. There are no entrance requirements other than interest and enthusiasm for the project goals.</p>

		<h3>Step 1: Sign up for the <a href='http://groups.google.com/group/pdx-tech-calendar/' title="PDX Tech Calendar on Google Groups">mailing list</a>.</h3>
	
		<h3>Step 2: Contribute!</h3>
		<h4>Use the site.</h4>
		<ul>
			<li><a href='#find_local_events'>Learn about</a> and <a href='#share_local_events'>share events</a>.</li>
			<li>Spread the word! (<a href='http://twitter.com'>twitter</a>, your own blog, direct people to the events that you added above).</li>
		</ul>
	
		<h4>Help garden the site.</h4>
		<ul>
			<li>Help us remove <a href='/events/duplicates'>duplicate events</a> and <a href='/events/duplicates'>duplicate venues</a>.</li>
			<li>Add details to existing events and venues.</li>
			<li>Correct missing venues and incomplete venue addresses.</li>
			<li>Edit our <a href='http://code.google.com/p/calagator/w/list'>wiki</a> to improve our documentation.</li>
		</ul>
		
		<h4>Come to code sprints.</h4>
		<p>You don't have to be a programmer; our code sprints are general work sessions, and we also work on <strong>design</strong> issues, <strong>documentation</strong>, and discuss <strong>project direction</strong>. If you are interested in <storng>programming</storng>, or learning Ruby or Rails, our pair programming environment is an excellent environment to learn using Agile methods. We'll be glad to help you set things up.</p>
	
		<h4>Help the developers.</h4>
		<ul>
			<li>File <a href='http://code.google.com/p/calagator/issues/list'>bug reports</a>.</li>
			<li>Verify <a href='http://code.google.com/p/calagator/issues/list'>bug reports</a>.</li>
		</ul>
	
		<h4>Contribute code.</h4> 
		<p>Calagator is a <a href='http://rubyonrails.org/'>Ruby on Rails</a> web application that can be run on any platform, including strange and exotic platforms from the far PNW (Redmond, WA). You can find more details on downloading the source and running it locally at our <a href='http://code.google.com/p/calagator/wiki/DevelopmentSoftware'>Google Code Page</a>. Calagator will not run well on a shared hosting account, so we recommend sticking to local development unless you intend to deploy it in a production environment.</p>
	
</div>