<div class='copy_block'>
  <h1><a name='about'>About us</a></h1>

  <p style="color: red; font-weight: bold">
    Put your unique "about us" information into: themes/YOUR_THEME/views/site/about.html.erb
  </p>
</div>
