<% tabindex_on '#search_field' %>

<% cache(CacheObserver.daily_key_for("site_index", request)) do %>
<% @times_to_events ||= @times_to_events_deferred.call %>
<div id="project_description">
  <%= render :partial => "description" %>
</div>

<div id="whats_happening">
  <h1>What's happening?</h1>
  <div id='coming_events'>
    <h3>Today</h3>
      <%= render :partial => 'events/list', :locals => {:events => @times_to_events[:today], :dates => false} %>
    <h3>Tomorrow</h3>
    <%= render :partial => 'events/list', :locals => {:events => @times_to_events[:tomorrow], :dates => false} %>
  </div>
  <div id='recently_added_events'>
    <h3>Next two weeks</h3>
    <%= render :partial => 'events/list', :locals => {:events => @times_to_events[:later]} %>
  </div>
</div>
<% end %>






