<% tabindex_on '#search_field' %>

<% cache(CacheObserver.daily_key_for("site_index", request)) do %>
<% @times_to_events ||= @times_to_events_deferred.call %>
<div id="project_description">
<h2>Hi there.</h2>
<p class='first'><strong>Calagator</strong> is a unified calendar for the technology community of Portland, Oregon. We are an all-volunteer effort and encourage anyone to import, create, and edit events.</p>

<h4>Get Started</h4>
<ul>
  <li><a href='/about#find_local_events'>Find local events</a></li>
  <li><a href='/about#share_local_events'>Share local events</a></li>
  <li><a href='/about#get_involved'>Get involved</a></li>
  <li><a href='/about'>Find out about us</a></li>
</ul>

</div>

<div id="whats_happening">
  <h1>What's happening?</h1>
  <div id='coming_events'>
    <h3>Today</h3>
      <%= render :partial => 'events/list', :locals => {:events => @times_to_events[:today], :dates => false} %>
    <h3>Tomorrow</h3>
    <%= render :partial => 'events/list', :locals => {:events => @times_to_events[:tomorrow], :dates => false} %>
  </div>
  <div id='recently_added_events'>
    <h3>Next two weeks</h3>
    <%= render :partial => 'events/list', :locals => {:events => @times_to_events[:later]} %>
  </div>
</div>
<% end %>






