<% content_for :discovery_insert do %>
  <%= auto_discovery_link_tag(:atom, formatted_recent_changes_url('atom'), :title => "Atom: Recent Changes" )%>
<% end %>

<h2 class='changeset'>Recent Changes</h2>

<% for item in @items %>
  <% object = item.send(item.class.parent.name.downcase) %>
  <%= render :partial => 'change', :locals => {:item => item, :object => object }%>
<% end %>
