/* @override http://localhost:3000/stylesheets/datepicker.css */
#datepicker_div th, #datepicker_div td {
  padding: 0;
  text-align: center;
}

/* Main Flora Style Sheet for jQuery UI Datepicker */
#datepicker_div, .datepicker_inline {
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: #e8fbfe;
  width: 185px;
}

#datepicker_div {
  display: none;
  border: 1px solid #454;
  z-index: 10;
}

.datepicker_inline {
  float: left;
  display: block;
  border: 0;
}
.datepicker_dialog {
  padding: 5px !important;
  border: 4px ridge #DDD !important;
}
button.datepicker_trigger {
  width: 25px;
}
img.datepicker_trigger {
  margin: 2px;
  vertical-align: middle;
}
.datepicker_prompt {
  float: left;
  padding: 2px;
  background: #bcf794;
  color: #000;
}
*html .datepicker_prompt {
  width: 185px;
}
.datepicker_control, .datepicker_links, .datepicker_header, .datepicker {
  clear: both;
  float: left;
  width: 100%;
  color: #FFF;
}
.datepicker_control {
  background: #82c555;
  padding: 2px 0px;
}
.datepicker_links {
  background: #b7f090;
  padding: 2px 0px;
}
.datepicker_control, .datepicker_links {
  font-weight: bold;
  font-size: 80%;
  letter-spacing: 1px;
}
.datepicker_links label {
  padding: 2px 5px;
  color: #888;
}
.datepicker_clear, .datepicker_prev {
  float: left;
  width: 34%;
}
.datepicker_current {
  float: left;
  width: 30%;
  text-align: center;
}
.datepicker_close, .datepicker_next {
  float: right;
  width: 34%;
  text-align: right;
}
.datepicker_header {
  padding: 1px 0 4px;
  background: #e8fbfe;
  text-align: center;
  font-weight: bold;
  height: 1.5em;
}
.datepicker_header select {
  color: #000;
  border: 0px;
  font-weight: bold;
}
.datepicker {
  background: #bcf794;
  text-align: center;
  font-size: 100%;
}
.datepicker a {
  display: block;
  width: 100%;
}
.datepicker .datepicker_titleRow {
  background: #B1DB87;
  color: #000;
}
.datepicker .datepicker_daysRow {
  background: #FFF;
  color: #666;
}
.datepicker_weekCol {
  background: #B1DB87;
  color: #000;
}
.datepicker .datepicker_daysCell {
  color: #000;
  border: 1px solid #DDD;
}
#datepicker .datepicker_daysCell a {
  display: block;
}
.datepicker .datepicker_weekEndCell {
  background: #E0F4D7;
}
.datepicker .datepicker_daysCellOver {
  background: #FFF;
  border: 1px solid #777;
}
.datepicker .datepicker_unselectable {
  color: #888;
}
.datepicker_today {
  background: #82c555;
}
.datepicker_currentDay {
  background: #83C948 !important;
}
#datepicker_div a, .datepicker_inline a {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: none;
  color: #000;
}
.datepicker_inline .datepicker_links a {
  padding: 0 5px !important;
}
.datepicker_control a, .datepicker_links a {
  padding: 2px 5px !important;
  color: #000 !important;
}
.datepicker_titleRow a {
  color: #000 !important;
}
.datepicker_multi .datepicker {
  border: 1px solid #83C948;
}
.datepicker_oneMonth {
  float: left;
  width: 185px;
}
.datepicker_newRow {
  clear: left;
}
.datepicker_cover {
  display: none;
  display/**/: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  width: 193px;
  height: 200px;
}