<div id="organizations_subnav" class="subnav">
  <div class='container'>
    <ul class="clearfix">
      <li><%= link_to 'Browse organizations', organizations_url, 
              :class => subnav_class_for("organizations", "index") %>
      </li>
      <% if current_admin %>
        <li><%= link_to 'Add an organization', new_organization_url,
                :class => subnav_class_for("organizations", "new") %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
