.calendar {

  .month {
    border-top: 1px solid #1E6596;
  }

  .button {
    display: block;
    width: 33.333%;
    float: left;
    background-color: #207FC2;
    border-bottom: 3px solid #1E6596;
    font-family: $font-family-fira-sans;
    color: #fff;
    font-weight: 400;
    font-size: 0.85em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
  }

  .button:first-child {
    border-right: 1px solid #1E6596;
  }

  .button:last-child {
    border-left: 1px solid #1E6596;
  }

  .button i.chevron {
    position: relative;
    top: 2px;
  }

  .button:first-child i.chevron {
    margin-right: 0.25em;
  }

  .button:last-child i.chevron {
    margin-left: 0.25em;
  }

  .month-name-container {
    display: block;
    width: 33.333%;
    float: left;
    font-family: "Fira Sans";
    font-weight: 600;
    text-align: center;
    background-color: #3A8BC3;
    border-bottom: 3px solid #207FC2;
    font-size: 1em;
    padding-top: 0.78em;
    padding-bottom: 0.78em;
    color: #fff;
  }

  .year { // year probably doesn't need to be displayed on mobile?
    display: none;
  }

  table,
  tbody,
  tr,
  td {
    width: 100%;
    display: block;
  }

  td {
    padding: 0;
  }

  th {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
  }

  li {
    border-bottom: 1px solid #C5C2C2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }

  li > a {
    font-family: $font-family-fira-sans;
    font-size: 1em;
  }

  li:nth-child(even) {
    background-color: #F0F0F0
  }

  .date {
    background-color: #2A2A2A;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2BA2F5;
  }

  .date > span {
    font-family: $font-family-fira-sans;
    color: #fff;
    font-size: 1em;
  }

  /* td:not(.today) {
      display: none;
  } */

  ul > a {
    display: none;
  }

  .organization-name {
    color: #207FC2;
    font-family: $font-family-fira-sans;
    font-size: 0.85em;
  }

  .event-time {
    display: block;
    color: rgba(82, 82, 82, 1);
    font-size: 0.85em;
    font-family: $font-family-fira-sans;
  }

  .event-title {
    font-size: 1em;
    font-weight: 500;
    color: #2A2A2A;
  }

  .daynumber {
    font-weight: 500;
  }

}