table {
  border-collapse: collapse;
}

table,
tbody {
  width: 100%;
  display: block;
}

tr {
  width: 100%;
  display: block;
}

table td {
  border-collapse: collapse;
}

.date {
  display: block;
  width: 100%;
  text-align: left;
  background-color: #2a2a2a;
  padding: 1em;
  color: #fff;
  font-family: $font-family-fira-sans;
  border-bottom: 1px solid rgb(43, 162, 245);
}

.event_summary {
  width: 100%;
  display: block;
  background-color: #FFF;
  border-bottom: 1px solid rgb(43, 162, 245);
  padding: 1em;
}

.event_summary a,
.event_summary time {
  font-family: $font-family-fira-sans;
}

.event_summary a {
  display: block;
}

.event_summary .p-name {
  font-weight: 500;
}

.p-organization {
  color: #207FC2;
  font-family: $font-family-fira-sans;
  font-size: 0.85em;
}
.event_summary .time {
  display: block;
  color: #525252;
  font-size: 0.85em;
  font-family: $font-family-fira-sans;
}

.list_description {
  background-color: #2a2a2a;
  padding: 1em;
  padding-bottom: 0;
}

.list_description h2 {
  font-family: $font-family-fira-sans;
  font-weight: 300;
  color: #fff;
}

.sort-by-list {
  display: block;
  width: 100%;
  padding-bottom: 0;
}

.sort-by .sort-by-text {
  display: block;
  width: 100%;
  background-color: #2a2a2a;
  padding: 0.5em;
  color: #fff;
  font-family: $font-family-fira-sans;
  border-bottom: 3px solid #5A3E69;
}

.sort-by-list a {
  float: left;
  width: 33.333%;
  text-align: center;
  background-color: rgb(147, 102, 171);
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
  font-family: $font-family-fira-sans;
  border-right: 1px solid #5A3E69;
}

.sort-by-list a:last-child {
  border-right: none;
}

@media screen and (min-width: 45em) {
  tbody tr {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1em;
  }

  tbody tr:first-child {
    clear: both;
    width: 100%;
  }

  .sort-by,
  tbody tr:first-child {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  tbody tr:first-child {
    margin-bottom: 1em;
  }

  .event_table {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 60.0625em) {
  .list_items {
    margin-right: 0;
  }
}

@media screen and (min-width: 61.25em) {
  tbody tr {
    width: 30%;
    float: left;
    margin-left: 1.66666665%;
    margin-right: 1.66666665%;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 75.625em) {
  .list_description {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .list_items {
    width: 1000px;
    margin: 0 auto;
  }

  .sort-by .sort-by-text {
    border-bottom: none;
  }

  .sort-by-list {
    border-bottom: 3px solid #5A3E69;
    margin-top: 0.5em;
  }
}
