.summary.p-name {
  background-color: #2a2a2a;
  color: #fff;
  padding: 1em;
  font-family: $font-family-fira-sans;
  font-weight: 500;
  color: rgb(43, 162, 245);
}

.date {
  background-color: #2a2a2a;
  color: #fff;
  padding: 1em;
  font-family: $font-family-fira-sans;
  font-weight: 400;
  padding-top: 0;
  font-size: 1em;
  margin-bottom: 0px;
}

#recurrence {
  background-color: #2a2a2a;
  color: #fff;
  padding: 1em;
  font-family: $font-family-fira-sans;
  font-weight: 300;
  padding-top: 0;
  font-size: 1em;
}

#organizer {
  background-color: #2a2a2a;
  color: #fff;
  padding: 1em;
  font-family: $font-family-fira-sans;
  font-weight: 300;
  padding-top: 0;
  font-size: 1em;
  margin: 0;
  color: rgb(43, 162, 245);
}

#location {
  margin: 0;
}

#location .property-detail {
  margin: 0;
  background-color: rgb(234, 234, 234);
  padding: 2em 1em;
  padding-top: 2em;
}

#location .property-detail a,
#location .property-detail span,
#location .property-detail .adr > div {
  font-family: $font-family-fira-sans;
}

#location .property-detail span,
#location .property-detail .adr > div {
  font-weight: 300;
}

#location .property-detail .url span {
  font-weight: 500;
}

#location .adr .button {
  margin-top: 1em;
}

.access_notes h3 {
  margin-bottom: 0.25em;
}

h3 {
  font-family: $font-family-fira-sans;
  padding-left: 1em;
}

h3 > a {
  color: #2ba2f5;
}

/* h3 + div {
background-color: rgba(234, 234, 234, 1);
} */

  .single_event .property .property-detail {
    background-color: rgba(234, 234, 234, 1);
    font-family: $font-family-fira-sans;
    font-weight: 300;
    padding-left: 1em;
  }

  @media only screen and (min-width: 45em) {
    #location .adr .button {
      max-width: 300px;
    }

    .property,
    .share,
    #event_sidebar_toggle {
      padding-left: 1em;
      padding-right: 1em;
    }

    .summary.p-name,
    .date,
    #recurrence,
    #organizer {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  @media only screen and (min-width: 60.0625em) {
    .contentbar {
      margin-right: 0;
    }
  }

  @media only screen and (min-width: 75.625em) {
    .property,
    .share,
    #event_sidebar_toggle,
    #location {
      padding: 0;
      width: 1000px;
      margin: 0 auto;
    }

    #organizer {
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
    }

    #event_sidebar_toggle {
      display: none;
    }

    .sidebar {
      position: relative;
      top: auto;
      right: auto;
      margin: 0;
      width: 100%;
      background: #afdefc;

      padding: 2em;
      width: 1000px;
      margin: 0 auto;
      margin-top: 1em;

      font-family: $font-family-fira-sans;
      background-color: #DBDBDB;
    }

    .sidebar h3 {
      padding: 0;
    }

    .sidebar a {
      color: #2ba2f5;
    }

    .summary.p-name,
    .date,
    #recurrence,
    #organizer {
      width: 1000px;
      margin: 0 auto;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
