header {

	display: block; // eventually replace this with html-5shiv if we need support for older browsers. :/

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	.project-menu {
		display: none;
	}

	.logo { // the logo container.
		float: none;
		// width: 15%;
		margin: 0 auto;
		margin-bottom: 10px;

		// experimenting
		width: 100%;
		margin-bottom: 0;

	}

	.logo > .logo-big {
		display: none;
	}

	.logo > .logo-small { // the actual logo. Should change the naming of this?
		display: block;
		width: 13%;
		padding-top: 1em;
		padding-bottom: 1em;
		margin: 0 auto;
	}
}

.search-form {
	width: 100%;
	background-color: rgb(43, 162, 245);
	padding: 1em 1em;
	input {
		font-family: $font-family-fira-sans;
		font-size: 1em;
		font-weight: 300;
		color: #2A2A2A; // make it a variable.

		width: 70%;
		display: block;
		margin: 0 auto;

		// reseting some stuff.

		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;

		outline-color: rgb(84, 49, 186);
		background: #fff;
		border-radius: 15px;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-weight: 400;
		padding-left: 0.8em;

		float: left;
	}

	input[type="search"] {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type="submit"] {
		width: 30%;
		float: left;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		float: left;
		background-color: #1D6FA8;
		color: #fff;
	}

	input[type="submit"]:hover,
	input[type="submit"]:focus {
		background-color: #2483C5;
	}
}

.subnav {
	background-color: rgb(147, 102, 171);
	border-top: 1px solid #5A3E69;

	ul {
		width: 100%;
	}

	li { // assuming there's a maximum of these of these on the page at any given time (for mobile anyways).
		width: 33.333%;
		float: left;
		padding: 0.5em 0;
		text-align: center;
		border-right: 1px solid #5A3E69;
	}

	li:first-child { // simulating an active state.
		border-bottom: 3px solid #5A3E69;
		// border-left: none;
	}

	li:last-child {
		border-right: none;
	}

	li > a {
		font-size: 0.85em;
		font-family: $font-family-fira-sans;
		color: #fff;
	}
}

.view-mode-buttons,
.search-box-container {
	display: none;
}

.search-box {
	display: block;
	width: 3em;
	height: 3em;
	background-color: #3A8BC3;
	position: relative;
	right: 1em;
	float: right;
	border-bottom: 4px solid #1E6596;

	overflow: hidden;
	cursor: pointer;
}

.search-box > .button {
	position: absolute;
	top: 1.2em;
	left: 1.6em;

	transition-property: left;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}

.search-box > .button.button--close {
	position: absolute;
	top: 0.55em;
	left: 5.5em;
}

.search-box.is-open > .button.button--search {
	left: -5.5em;
}

.search-box.is-open > .button.button--close {
	left: 1.4em;
}

.header-container {
	position: relative;
}

@media only screen and (min-width: 41.875em) { // 670px

	header {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	header .logo > .logo-big {
		display: block;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 1em;
		width: 55%
	}

	header .logo > .logo-small {
		display: none;
	}
}

@media only screen and (min-width: 45em) {

	.wrapper {
		background-color: #ededed;
	}

	.search-form {
		display: block;
		float: left;
		transform: translate3d(100%, 0, 0);
		position: absolute;
		top: 0;
		left: 0;
		padding: 16px;

		transition-property: transform;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(.42, 0, .58, 1);
	}

	.search-form input {
		padding-top: 0.25em;
		padding-bottom: 0.25em;
	}

	.search-form.is-open {
		transform: translate3d(0%, 0, 0);
	}

	.logo {
		float: left;
		width: 75%;
	}

	.logo-big {
		width: 70%;
		max-width: 414px;
		max-height: 85px;
	}

	.search-box-container {
		display: block;
		position: absolute;
		width: 25%;
		top: 8px;
		right: 0;
	}

	.subnav {
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 2em;
		position: relative;
	}
}

@media only screen and (min-width: 75.625em) {
	.subnav {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	.header-container {
		max-width: 1000px;
		margin: 0 auto;
	}

	.logo-big {
		padding-left: 0;
	}

	.search-box { // Not satisfied with this box at all. The position, the size, etc.
		margin-top: 0.25em;
		right: 0;
	}

	footer {
		margin-top: 2em;
	}

	footer .footer-container {
		max-width: 1000px;
		margin: 0 auto;
	}
}