// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  line-height: 1.4;
}

body.agenda-view {
    .expander_toggle {
    display: none;
  }
  .monthname, .yearnumber {
    display: inline-block;
  }
  .view-mode-buttons {
    display: none;
  }

  #content {
    margin: 0;
  }

  #month { // h2 
    text-align: center;
    font-weight: bold;
  }

  #calendar .calendar {

    margin-top: 0;
    margin-bottom: 0;

    tbody {
      display: block;
      width: 100%;
    }
    tr {
      display: block;
      width: 100%;
    }
    td {
      display: block;
      width: 100%;
    }
    th {
      display: none;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: rgb(235, 235, 235)
    }
    li {
      border-bottom: 1px solid #C5C2C2;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 10px;
      padding-right: 10px;
    }
    li:nth-child(even) {
      background-color: #F0F0F0
    }
    .date {
      background-color: #054974;
      color: #fff;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      border-bottom: 1px solid #2C7AAD
    }
    td:not(.has-event) {
      display: none;
    }

    ul > span {
      display: none;
    }

    .organization-name {
      color: #064064;
    }
    .event-time {
      display: block;
      color: rgba(82, 82, 82, 1);
    }
  }
}

@media (min-width: 768px) {
  .truncate {
    display: none;
  }
  .monthname {
    display: none;
  }
  .yearnumber {
    display: none;
  }
  #calendar .calendar {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit; 
    }
    td, th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 10px;
      padding: 6px;
      border: 1px solid #999;
    }
    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit; 
    }
    th {
      background: #DDD;
      color: #666;
      text-align: center;
      width: 14.2857142857143%;
      display: table-cell;
    }

    td {
      background: #FFF;
      color: #777;
      height: 80px;
      vertical-align: top;
      font-size: 16px;
      word-wrap: break-word;
      display: table-cell;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .date {
      // border-bottom: 1px solid #000;
      // background-color: rgb(234, 234, 234);
    }


    td:not(.has-event) {
      display: table-cell; 
    }

    .notmonth, .notmonth a { color: #CCC; }
    .today { background-color: #D7F2FF; }
  }

  #calendar #month {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
    a {
      text-decoration: none;
      padding: 0 10px;
      color: #999;
    }
  }

  #calendar ul {
    font-size: 11px;
    padding-left: 20px;
  }

  /* Agenda View */
  body.agenda-view {
    
    .expander_toggle {
    display: none;
  }
  .monthname, .yearnumber {
    display: inline-block;
  }
  .view-mode-buttons {
    display: block;
  }

  #content {
    margin: 1em 30px 1em 40px;
  }

  #month { // h2 
    text-align: center;
    font-weight: bold;
  }

  #calendar .calendar {
    margin-top: 0;
    margin-bottom: 0;

    tbody {
      display: block;
      width: 100%;
    }
    tr {
      display: block;
      width: 100%;
    }
    td {
      display: block;
      width: 100%;
      height: auto;
    }
    th {
      display: none;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: rgb(235, 235, 235)
    }
    li {
      border-bottom: 1px solid #C5C2C2;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 10px;
      padding-right: 10px;
    }
    li:nth-child(even) {
      background-color: #F0F0F0
    }
    .date {
      background-color: #054974;
      color: #fff;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      border-bottom: 1px solid #2C7AAD
    }
    td:not(.has-event) {
      display: none;
    }

    ul > span {
      display: none;
    }

    .organization-name {
      color: #064064;
    }
    .event-time {
      display: block;
      color: rgba(82, 82, 82, 1);
    }
  }
}
}