footer {
  background: $vo-blue;
}

footer .footer-container {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
}

footer .footer-container p {
    font-family: $font-family-fira-sans;
    color: white;
    display: block;
    float: left;
    margin-right: 12px;
}

footer .footer-container p:last-child {
    text-align: right;
    float: right;
}

@media only screen and (min-width: 75.625em) {

	footer {
		margin-top: 2em;
	}

	footer .footer-container {
		max-width: 1000px;
		margin: 0 auto;
	}
}