nav {

	width: 100%;
	position: relative;
	overflow: hidden;

	ul {
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #032D47;
	}

	ul.app-menu > a {
		display: block;
		float: left;
		width: 33.333%;
		text-align: center;
		padding: 1em;

		background-color: $vo-blue;
		color: #fff;
		font-weight: bold;
		font-size: 1em;

		border-left: 1px solid $vo_blue_darker;
	}

	ul.app-menu > a:first-child {
		border-left: none;
	}

	a > li {
		font-size: 1em;
		font-family: $font-family-fira-sans;
	}

	ul.app-menu .button.button--donate .text-container {
    display: inline;
    font-weight: bold;
		padding-top: 6px;
    padding-right: 6px;
	}

	ul.app-menu .button.button--donate .icon-container {
    display: inline;
    padding-top: 8px;
    padding-left: 6px;
	}

	ul.app-menu .button.button--donate .icon-container i {
	}

	ul.app-menu .button.button--donate {
		display: none;
	}
}

@media only screen and (min-width: 41.875em) {
	nav {
		ul.app-menu > a {
			width: 25%;
		}
		ul.app-menu .button.button--donate {
			display: block;
		}
	}
}

@media only screen and (min-width: 45em) {
	nav {
		position: relative;
		background-color: #ededed;

		margin-bottom: 2em;

		ul.app-menu > a {
			padding: 8px 0;
			border-bottom: 3px solid $vo_blue_darker;
		}

		ul.app-menu .button.button--donate {
			display: block;
			border-bottom: 3px solid #272E34;
		}
	}
	/* nav ul {
		border-left: 1px solid #1E6596;
		border-right: 1px solid #1E6596;
	} */
}

@media only screen and (min-width: 75.625em) {
	nav {
		padding: 0;
		width: 1000px;
		margin: 0 auto;
		margin-bottom: 2em;
	}
}
