/*
 *= require formtastic
 *= require recurring_select
 *= require jquery-ui/jquery-ui
 *= require jquery-ui/datepicker
 *= require tooltip-theme-arrows
 */


// I really want to use Fira Sans in this design because Volunteer Odyssey and Fira Sans feels like a match-made in heaven.
@import url(//fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);

@import 'foundation';
@import 'variables';
@import 'mixins';
@import 'utilities';
@import 'buttons';

// A lot of layout is probably in these 3 files so including them for now until I can make it better.
@import 'layout';
@import 'theme-default';
@import 'theme-forms';

@import 'icons';

.clearfix:before,
.clearfix:after {
    display: table;
}
.clearfix:after {
    clear: both;
}
// don't show that search icon on input type=search
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

html {
	/* Typography related rules */
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern=0";
	-ms-font-feature-settings: "kern" 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-appearance: none;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

@media only screen and (min-width: 46.25em) {
    body {
        font-size: 110%;
    }
}

// Fix font rendering in Windows Chrome:
body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}

// Importing my modules in here.
@import 'header';
@import 'navigation';
@import 'chevron';
@import 'footer';

body.events_index { // /events
  @import 'events';
}

body.events_search {
  @import 'events';
  @import 'events-search';
}

body.events_new { // /events/new
// @import 'new-events';
}

body.events_show {
  @import 'events-show';
}

body.events_search {
    @import 'events-search';
}

body.events_new,
body.events_edit,
body.organizations_new {
    @import 'events-new';
}

body.sources_new { // /sources/new
	// @import 'new-source';
}

body.site_index {
	@import 'calendar';
}

body.organizations_index { // /organizations
    @import 'organizations';
}

body.organizations_new { // /organizations/new

}

body.organizations_show {
    @import 'organization';
}

body.venues_index { // /venues
    @import 'venues';
}

body.venues_show { // individual venues page
    @import 'venue';
}

.tooltip-element.tooltip-theme-arrows .tooltip-content {
    font-family: $font-family-fira-sans;
}