//color definitions
$white: #ffffff;
$teal: #66baa9;
$green: #82C555;
$dk_green: #445544;
$beige: #E8FFD9;
$lt_blue: #e8fbfe;
$wifi_blue: #6098e6;
$red: #CE421D;

$vo_blue: #054974;
$vo_blue_darker: #032D47;
$vo_gray: #B7B9BB;

$box_background: lighten($vo_blue, 60%);
$closed: $red;
$default_text: #888;
$header: $white;
$header_text: $vo_blue;
$subnav: $vo_blue;
$footer: $subnav;
$wifi: $wifi_blue;

$section_head_background: $beige;
$text_highlight: saturate(lighten($vo_blue, 20%), 20%);

$font-family-fira-sans: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$purple-color: desaturate(#730CE8, 30%);
$purple-color-darker: darken($purple-color, 20%);