.keywords {
    margin: 0;
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
}

.keywords label {
    font-family: $font-family-fira-sans;
    margin-bottom: 0.5em;
    display: inline-block;
}

#query {
    display: block;
    width: 100%;
    /* min-height: 44px; */
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #2A2A2A;
    width: 90%;
    display: block;
    /* margin: 0 auto; */
    border: none;
    outline: none;
    background: #fff;
    border-radius: 15px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 400;
    padding-left: 0.8em;
}

#venues_search form div { // submit button container
    display: block;
}

#venues_search form div input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 300px;
    // margin: 0 auto;
    margin-top: 1em;
}

#venue_portal #most_active,
#venue_portal #newest,
#venues_search_results .list_description {
    width: 100%;
    border-right: none;
    margin-right: 0;
    padding: 1em 0;
}

#venue_portal #most_active h3,
#venue_portal #newest h3,
#venues_search_results .list_description h2,
#venue_portal #most_active ul li,
#venue_portal #newest ul li,
#venues_search_results .list_description + ul li {
    font-family: $font-family-fira-sans;
    padding-left: 1em;
}

#venues_search_results .list_description h2 {
    color: #fff;
}

#venues_search_results .list_description,
#venues_search_results .list_description + ul {
    background-color: #2a2a2a;
}

#venues_search_results .list_description + ul {
    padding-bottom: 1em;
}

#venue_portal #most_active ul li,
#venue_portal #newest ul li,
#venues_search_results .list_description + ul li {
    margin: 0 1em;
    padding: 1em;
    font-weight: 300;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #fff;
}

#venue_portal #most_active ul li {
    border-bottom: 1px solid #2BA2F5;
}

#venue_portal #newest ul li {
    border-bottom: 1px solid rgb(147, 102, 171);
}

#venues_search_results .list_description + ul li {
    border-bottom: 1px solid rgb(43, 162, 245);
}

#venue_portal #most_active ul li a,
#venue_portal #newest ul li a,
#venues_search_results .list_description + ul li a {
    font-weight: 400;
}

#venue_portal #newest h3 {
    color: #fff;
}

#venue_portal #most_active {
    background-color: #F2F2F2;
}

#venue_portal #newest {
    background-color: #2a2a2a;
}

#venue_portal #exports {
    display: block;
    width: 100%;
    padding: 0;
}

#venues_index p.detail {
  margin-bottom: 0;
  color: #575757;
}

#venues_search_results {
    margin-top: 1em;
}

@media only screen and (min-width: 45em) {

    #venue_portal #most_active ul li,
    #venue_portal #newest ul li,
    #venues_search_results .list_description + ul li {
        display: block;
        float: left;
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #venue_portal #exports {
        padding: 1em;
    }

    #venue_portal #exports .button {
        width: 350px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 61.25em) {
    #venue_portal #most_active ul li,
    #venue_portal #newest ul li,
    #venues_search_results .list_description + ul li {
        width: 30%;
        margin-left: 1.33333%;
        margin-right: 1.3333%;
    }
}

@media only screen and (min-width: 75.625em) {
    #venue_portal #most_active,
    #venue_portal #newest,
    #venues_search,
    #venues_search_results {
        width: 1000px;
        margin: 0 auto;
        display: block;
        float: none;
    }

    #venues_search_results {
        margin-top: 1em;
    }

    #venue_portal #most_active,
    #venue_portal #newest,
    #venues_search_results .list_description,
    #venues_search_results .list_description + ul {
        padding: 1em;
    }

    #venue_portal #exports {
        margin-top: 2em;
    }
}