<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= @page_title ? "#{@page_title} &raquo; " : "" %>Calagator: Portland's Tech Calendar</title>
    <link href="/css/base" media="screen" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag "datepicker.css", "timePicker.css" %>
    <%= javascript_include_tag 	'jquery-1.2.3.min.js',
 																'jquery-ui',
																'jquery-fx',
																'jrails',
																'ui.datepicker.js',
																'jquery.timePicker.js',
																'application' %>

		<%= auto_discovery_link_tag(:atom, formatted_events_url('atom'), :title => 'Atom: All Events' )%>
  </head>
  <body>